certifi==2022.12.7
chardet==3.0.4
click==6.7
clickclick==1.2.2
connexion==1.1.15
Flask==0.12.2
Flask-Cors==3.0.3
gevent==1.2.2
greenlet==0.4.12
idna==2.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
prettytable==0.7.2
git+git://github.com/irods/python-irodsclient.git
PyYAML==3.12
requests==2.18.4
six==1.11.0
swagger-spec-validator==2.1.0
urllib3==1.22
Werkzeug==0.12.2
xmlrunner==1.7.7
