[connexion]
server =
debug = True
port = 5000
keyfile =
certfile =

[irods]
host =
port = 1247
user =
password =
zone =
client_user =
client_zone =

[sys-path]
controllers = /PATH_TO/network-aware-irods-api/server/controllers